body {
    font-family: monospace, sans-serif;
    background-color:#000000;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.form{
margin-top: 10px;
max-width: 400px;
margin: 0 auto;
background-color: #000000;
padding: 20px;
border-radius: 16px;
box-shadow: 0 0 100px rgba(253, 252, 252, 0.103);
animation: shadowTransition 2s infinite alternate;
}


h1{
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;

}
h2{
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}


p{
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}  
img{
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 0 100px rgba(253, 252, 252, 0.103);
    display : none
}
.gp-btn{
    margin: 10px ;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: flex-start
}


button{

    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
.btn-s{
    background-color: #10c428;
}   
.btn-n{
    background-color: #c41010;
}



@media (max-width: 450px) {
    .form {
        width: 77%;
        margin-top: 20px;
    }
    h1 {

        color: #012006;
    }
    img{
        display: block;
    }

}
/*----------------------------------------------------*/
a{text-align: center;}

.gp-btn-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    min-width: 200px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.btn:hover 
{
    min-width: 200px;
}

.btn-cine {
    background-color: #00000000;;
}
.btn-ibira {
    background-color: #00000000;
}
.btn-restaurante {
    background-color: #00000000;
}

.btn:hover {
    filter: brightness(1.1);
}

/* Dropdown */
.dropdown {
    position: relative;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #00000000;
    transition: background-color 0.3s ease;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 200px;
    border-radius: 8px;
    overflow: hidden;
    top: 110%;
    left: 0;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

.dropdown-content a {
    padding: 12px 20px;
    font-size: 16px;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.2s;
}

.dropdown-content a:hover {
    color:#ececec;
    background-color: #ffffff0e;
}

.show {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
.icon {
    width: 0px;
    height: 20px;
    margin-right: 10px;
}

input[type="date"] {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;

    margin: 10px 0;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.date-wrapper {
    margin-right: 25px;
  position: relative;
  display: inline-block;
}

.date-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

.date-wrapper .icon {
  position: absolute;
  right: 0.1px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

}